## Loading Libraries

In [5]:
import pandas as pd

import numpy as np

from sklearn.utils import shuffle

from sklearn.model_selection import train_test_split

## Coding that function which will create the data per event

In [6]:
def claim_tweet_ids(x,a,b):
    
    df=pd.read_csv(x,sep='\t', header=None, index_col=False, error_bad_lines=False)
    
    df.columns = ["number", "tweet_id", "text",'time']  # name the columns
    
    del df['text']
    
    del df['number']
    
    del df['time']
    
    df['Rumor'] = b
    
    if a == 1 :
        
        df['True'] = True
        
    else:
        
        df['True'] = False
        
    train, test = train_test_split(df, test_size=0.25)
        
    return train, test

## Call the function per event

In [7]:
train1, test1 = claim_tweet_ids('N_Airliner.txt', 1, 1)

train2, test2 = claim_tweet_ids('N_AnnieLe.txt', 1, 2)

train3, test3 = claim_tweet_ids('N_BeefProtest.txt', 1, 3)

train4, test4 = claim_tweet_ids('N_ByrdBillings.txt', 1, 4)

train5, test5 = claim_tweet_ids('N_ChristianTheLion.txt', 1, 5)

train6, test6 = claim_tweet_ids('N_Cristiano.txt', 1, 6)

train7, test7 = claim_tweet_ids('N_District.txt', 1, 7)

train8, test8 = claim_tweet_ids('N_Englandback.txt', 1, 8)

train9, test9 = claim_tweet_ids('N_Giantcoconutcrab.txt', 1, 9)

train10, test10 = claim_tweet_ids('N_HamsterOnAPiano.txt', 1, 10)

train11, test11 = claim_tweet_ids('R_AsparagusCancer.txt', 0, 11)

train12, test12 = claim_tweet_ids('R_Bigfoot.txt', 0, 12)

train13, test13 = claim_tweet_ids('R_Carmen.txt', 0, 13)

train14, test14 = claim_tweet_ids('R_CellphoneGasExplosion.txt', 0, 14)

train15, test15 = claim_tweet_ids('R_Chupacabra.txt', 0, 15)

train16, test16 = claim_tweet_ids('R_CookCellphone.txt', 0, 16)

train17, test17 = claim_tweet_ids('R_DennisKucinichUFO.txt', 0, 17)

train18, test18 = claim_tweet_ids('R_DietCokeBacon.txt', 0, 18)

train19, test19 = claim_tweet_ids('R_Duckquack.txt', 0, 19)

train20, test20 = claim_tweet_ids('R_GiantCatfish.txt', 0, 20)

b'Skipping line 21: expected 4 fields, saw 8\n'
b'Skipping line 2707: expected 4 fields, saw 5\n'
b'Skipping line 101: expected 4 fields, saw 5\n'
b'Skipping line 247: expected 4 fields, saw 24\n'

## Merging the data into 2 frames

In [8]:
training_data = shuffle(pd.concat([train1, train2, train3, train4, train5, train6, train7, train8, train9, train10, 
                        train11, train12, train13, train14, train15, train16, train17, train18, train19, train20]))

testing_data = shuffle(pd.concat([test1, test2, test3, test4, test5, test6, test7, test8, test9, test10, test11, test12, 
                          test13, test14, test15, test16, test17, test18, test19, test20]))

extracting_data = pd.concat([training_data,testing_data])

In [8]:
len(extracting_data)

52678

In [54]:
extracting_data=pd.concat([train5])

In [55]:
len(extracting_data)

2928

## Saving the 2 datasets

In [9]:
#training_data.to_csv('training_data.csv', sep='\t')

#testing_data.to_csv('testing_data.csv', sep='\t')

extracting_data.to_csv('extracting_data.csv', sep='\t')